[requestbin/]

## Notifications

Under the covers, the Agave API is an event-driven distributed system implemented on top of a reliable, cloud-based messaging system. This means that every action either observed or taken by Agave is tied to an event. The changing of a job from one status to another is an event. The granting of permissions on a file is an event. Editing a piece of metadata is an event, and to be sure, the moment you created an account with Agave was an event. You get the idea.

### Events  

Having such a fine-grain event system is helpful for the same reason that having a fine-grain permission model is helpful: it affords you the highest degree of flexibility and control possible to achieve the behavior you desire. With Agave's event system, you have the ability to alert your users (or yourself) the instant something occurs. You can be proactive rather than reactive, and you can begin orchestrating your complex tasks in a loosely coupled, asynchronous way.

### Notifications  

As consumers of Agave, you have the ability to subscribe to events occurring on any resource to which you have access. By that we mean, for example, you could subscribe to events on your job and a job that someone shared with you, but you could not subscribe to events on a job submitted by someone else who has not shared the job with you. Basically, if you can see a resource, you can subscribe to its events.

The Notifications service is the primary mechanism by which you create and manage your event subscriptions. A typical use case is a user subscribing for an email alert when her job completes. The JSON object below represents a request for such a notification.

```javascript
{
  "associatedUuid": "0001409758089943-5056a550b8-0001-002",
  "event": "OVERWRITTEN",
  "persistent": true,
  "url": "nryan@rangers.mlb.com"
}
```

The `associatedUuid` value is the UUID of her job. Here, we given the UUID of the `picsumipsum.txt` file we uploaded in the <a href="http://agaveapi.co/documentation/tutorials/data-management-tutorial/" title="Data Management Tutorial">Data Management</a> tutorial. The `event` value is the name of the event to which she wants to be notified. This example is asking for an email to be sent whenever the file is overwritten. She could have just as easily specified a status of DELETED or RENAME to be notified when the file was deleted or renamed.

The `persistent` value specifies whether the notification should fire more than once. By default, all event subscriptions are transient. This is because the events themselves are transient. An event occurs, then it is over. There are, however, many situations where events could occur over and over again. Permission events, changes to metadata and data, application registrations on a system, job submissions to a system or queue, etc., all are transient events that can potentially occur many, many times. In these cases it is either not possible or highly undesirable to constantly resubscribe for the same event. The persistent attribute tells the notification service to keep a subscription alive until it is explicitly deleted.

<aside class="notice">In certain situations you may wish to subscribe to multiple events. You are free to add as many subscriptions as you wish, however in the event that you want to subscribe to all possible events for a given resource, use the wildcard value, `*`, as the event. This tells the Notifications service that you wanted to be notified of every event for that resource.</aside>

The following table shows a list of all Agave's resource-level grouped by resource.

```shell

[tab title="Internal Users"]<%= partial "includes/tables/45" %>

[tab title="Jobs"]<%= partial "includes/tables/44" %>

[tab title="Metadata"]<%= partial "includes/tables/43" %>

[tab title="Schema"]<%= partial "includes/tables/42" %>

[tab title="PostIts"]<%= partial "includes/tables/41" %>

[tab title="Profiles"]<%= partial "includes/tables/40" %>

[tab title="Systems"]<%= partial "includes/tables/39" %>

[tab title="Transfers"]<%= partial "includes/tables/38" %>

[tab title="Monitors"]<%= partial "includes/tables/37" %>

[/tabgroup]

Continuing to work through the example, the `url` value specifies where the notification should be sent. In this example, our example user specified that she would like to be notified via email. Agave supports both email and webhook notifications. If you are unfamiliar with webhooks, take a moment to glance at the <a href="http://webhooks.org" target="_blank">webhooks.org</a> page for a brief overview. If you are a <a href="http://en.wikipedia.org/wiki/Design_Patterns_(book)" title="Gang of Four" target="_blank">Gang of Four</a> disciple, webhooks are a mechanism for implementing the <a href="http://en.wikipedia.org/wiki/Observer%5Fpattern" title="Observer Pattern" target="_blank">Observer Pattern</a>. Webhooks are widely used across the web and chances are that something you're using right now is leveraging them.

In the context of Agave, a webhook is a URL to which Agave will send a POST request when that event occurs. A webhook can be any web accessible URL. While you cannot customize the POST content that Agave sends (it's unique to the event), you can take advantage of the many template variables that Agave provides to customize the URL at run time. The following table show the webhook template variables available for each resource.

```shell

[tab title="Internal Users"]<%= partial "includes/tables/34" %>

[tab title="Jobs"]<%= partial "includes/tables/33" %>

[tab title="Metadata"]<%= partial "includes/tables/32" %>

[tab title="Schema"]<%= partial "includes/tables/31" %>

[tab title="PostIts"]<%= partial "includes/tables/30" %>

[tab title="Profiles"]<%= partial "includes/tables/29" %>

[tab title="Systems"]<%= partial "includes/tables/28" %>

[tab title="Transfers"]<%= partial "includes/tables/27" %>

[tab title="Monitors"]<%= partial "includes/tables/26" %>

[/tabgroup]

The value of webhook template variables is that they allow you to build custom callbacks using the values of the resource variable at run time. Several commonly used webhooks are shown below.

<ul>
<li><strong>Receive a callback when a new user is created that includes the new user's information</strong></li>
</ul>

```shell
https://example.com/sendWelcome.php?username=${USERNAME}&amp;email=${EMAIL}&amp;firstName=${FIRST_NAME}&amp;lastName=${LAST_NAME}&amp;src=agaveapi.co&amp;nonce=1234567
```

<ul>
<li><strong>Receive self-describing job status updates</strong></li>
</ul>

```shell
http://example.com/job/${JOB_ID}?status=${STATUS}&amp;lastUpdated=${LAST_UPDATED}
```

<ul>
<li><strong>Get notified on all jobs going into and out of queues</strong></li>
</ul>

```shell
http://example.com/system/${EXECUTION_SYSTEM}/queue/${QUEUE}?action=add 
http://example.com/system/${EXECUTION_SYSTEM}/queue/${QUEUE}?action=subtract
```

<ul>
<li><strong>Rerun an analysis when a files finishes staging</strong></li>
</ul>

```shell
https://$AGAVE_BASE_URL/jobs/v2/a32487q98wasdfa9-09090b0b-007?action=resubmit
```

<ul>
<li><strong>Use plus mailing to route job notifications to different folders</strong></li>
</ul>

```shell
nryan+${EXECUTION_SYSTEM}+${JOB_ID}@gmail.com
```

### Creating event notifications  

Subscribing to an event is done by posting a form or JSON object to the Notifications service. An example of doing this using curl as well as the CLI is given below.

```shell
curl -sk -H "Authorization: Bearer $ACCESS_TOKEN" -XPOST  
    --data &#039;{ "associatedUuid": "0001409758089943-5056a550b8-0001-002", "event": "OVERWRITTEN", "url": "$REQUEST_BIN?path=${PATH}&amp;system=${SYSTEM}&amp;event=${EVENT}" }&#039;  
    https://public.tenants.agaveapi.co/notifications/v2?pretty=true
```

```plaintext
notifications-addupdate -V -F notification.json
```

[tab title="Raw JSON"]
```shell

```

Which will result in output similar to this

```javascript
{
    "id":"0002032313456-b0b0b0-007",
    "owner":"nryan",
    "url":"nryan@rangers.texas.mlb.com",
    "associatedUuid":"0001384707924634-b0b0b0bb0b-0001-013",
    "event":"nryan@rangers.texas.mlb.com",
    "responseCode":200,
    "attempts":0,
    "lastSent":null,
    "success":false,
    "persistent":false,
    "created":"2013-11-17T17:39:30.000-06:00",
    "_links":{
        "self":{
            "href": "https://public.tenants.agaveapi.co/notifications/v2/0001384707924634-b0b0b0bb0b-0001-013"
        },
        "schema":{
            "href": "https://public.tenants.agaveapi.co/jobs/v2/0001381610343558-b0b0b0bb0b-0001-007"
        }
    }
}
```

### Updating a notification  

Updating a subscription is done identically to creation except that the form or JSON is POSTed to the existing subscription URL. An example of doing this using curl as well as the CLI is given below.

```shell
curl -sk -H "Authorization: Bearer $ACCESS_TOKEN" -XPOST  
    -F "fileToUpload="notification.json"  
    https://public.tenants.agaveapi.co/notifications/v2/0989079870809-b0b0b0-012?pretty=true
```


```plaintext
notifications-addupdate -V -F notification.json 0989079870809-b0b0b0-012
```

[tab title="Raw JSON"]
```shell
{
    "associatedUuid": "0002032313456-b0b0b0-007"
    "event": "FINISHED",
    "url": "nryan@rangers.texas.mlb.com"
}
```


Which will result in output similar to this

```javascript
[
  {
     "id":"0002032313456-b0b0b0-007",
     "owner":"nryan",
     "url":"nryan@rangers.texas.mlb.com",
     "associatedUuid":"0001384707924634-b0b0b0bb0b-0001-013",
     "event":"nryan@rangers.texas.mlb.com",
     "responseCode":200,
     "attempts":0,
     "lastSent":null,
     "success":false,
     "persistent":false,
     "created":"2013-11-17T17:39:30.000-06:00",
     "_links":{
        "self":{
           "href":"https://public.tenants.agaveapi.co/notifications/v2/0001384707924634-b0b0b0bb0b-0001-013"
        },
        "schema":{
           "href":"https://public.tenants.agaveapi.co/jobs/v2/0001381610343558-b0b0b0bb0b-0001-007"
        }
     }
  },
  {
     "id":"0002032313456-b0b0b0-007",
     "owner":"nryan",
     "url":"rjohnson@rangers.texas.mlb.com",
     "associatedUuid":"0001384707924891-b0b0b0bb0b-0001-013",
     "event":"nryan@rangers.texas.mlb.com",
     "responseCode":200,
     "attempts":0,
     "lastSent":null,
     "success":false,
     "persistent":false,
     "created":"2013-11-17T17:39:30.000-06:00",
     "_links":{
        "self":{
           "href":"https://public.tenants.agaveapi.co/notifications/v2/0001384707924891-b0b0b0bb0b-0001-013"
        },
        "schema":{
           "href":"https://public.tenants.agaveapi.co/jobs/v2/0001381610343558-b0b0b0bb0b-0001-007"
        }
     }
  },
  {
     "id":"0002032313456-b0b0b0-007",
     "owner":"nryan",
     "url":"nryan@rangers.texas.mlb.com",
     "associatedUuid":"0001384707925001-b0b0b0bb0b-0001-013",
     "event":"http://rangers.mlb.com/alerts?job_id=${JOB_ID}&amp;status=${STATUS}",
     "responseCode":200,
     "attempts":0,
     "lastSent":null,
     "success":false,
     "persistent":false,
     "created":"2013-11-17T17:39:30.000-06:00",
     "_links":{
        "self":{
           "href":"https://public.tenants.agaveapi.co/notifications/v2/0001384707925001-b0b0b0bb0b-0001-013"
        },
        "schema":{
           "href":"https://public.tenants.agaveapi.co/jobs/v2/0001381610343558-b0b0b0bb0b-0001-007"
        }
     }
  }
]
```

### Listing all notifications  

You can get a list of your current notification subscriptions by performing a GET operation on the base /notifications collection. Adding the UUID of a notification will return just that notification. You can also query for all notifications assigned to a specific UUID by adding `associatedUuid=$uuid`. An example of querying all notifications using curl as well as the CLI is given below.

```shell
curl -sk -H "Authorization: Bearer $ACCESS_TOKEN"  
    https://public.tenants.agaveapi.co/notifications/v2/0989079870809-b0b0b0-012?pretty=true
```


```plaintext
notifications-list -V
```


Which will result in output similar to this

```javascript
[
  {
     "id":"0002032313456-b0b0b0-007",
     "owner":"nryan",
     "url":"nryan@rangers.texas.mlb.com",
     "associatedUuid":"0001384707924634-b0b0b0bb0b-0001-013",
     "event":"nryan@rangers.texas.mlb.com",
     "responseCode":200,
     "attempts":0,
     "lastSent":null,
     "success":false,
     "persistent":false,
     "created":"2013-11-17T17:39:30.000-06:00",
     "_links":{
        "self":{
           "href":"https://public.tenants.agaveapi.co/notifications/v2/0001384707924634-b0b0b0bb0b-0001-013"
        },
        "schema":{
           "href":"https://public.tenants.agaveapi.co/jobs/v2/0001381610343558-b0b0b0bb0b-0001-007"
        }
     }
  },
  {
     "id":"0002032313456-b0b0b0-007",
     "owner":"nryan",
     "url":"rjohnson@rangers.texas.mlb.com",
     "associatedUuid":"0001384707924891-b0b0b0bb0b-0001-013",
     "event":"nryan@rangers.texas.mlb.com",
     "responseCode":200,
     "attempts":0,
     "lastSent":null,
     "success":false,
     "persistent":false,
     "created":"2013-11-17T17:39:30.000-06:00",
     "_links":{
        "self":{
           "href":"https://public.tenants.agaveapi.co/notifications/v2/0001384707924891-b0b0b0bb0b-0001-013"
        },
        "schema":{
           "href":"https://public.tenants.agaveapi.co/jobs/v2/0001381610343558-b0b0b0bb0b-0001-007"
        }
     }
  },
  {
     "id":"0002032313456-b0b0b0-007",
     "owner":"nryan",
     "url":"nryan@rangers.texas.mlb.com",
     "associatedUuid":"0001384707925001-b0b0b0bb0b-0001-013",
     "event":"http://rangers.mlb.com/alerts?job_id=${JOB_ID}&amp;status=${STATUS}",
     "responseCode":200,
     "attempts":0,
     "lastSent":null,
     "success":false,
     "persistent":false,
     "created":"2013-11-17T17:39:30.000-06:00",
     "_links":{
        "self":{
           "href":"https://public.tenants.agaveapi.co/notifications/v2/0001384707925001-b0b0b0bb0b-0001-013"
        },
        "schema":{
           "href":"https://public.tenants.agaveapi.co/jobs/v2/0001381610343558-b0b0b0bb0b-0001-007"
        }
     }
  }
]
```

### Unsubscribing from notifications  

To unsubscribe from an event, perform a DELETE on the notification URL. Once deleted, you can not restore a subscription. You can, however create a new one. Keep in mind that if you do this, the UUID of the new notification will be different that that of the deleted one. An example of deleting a notification using curl as well as the CLI is given below.

```shell
curl -sk -H "Authorization: Bearer $ACCESS_TOKEN" -X DELETE https://public.tenants.agaveapi.co/notifications/v2/0989079870809-b0b0b0-012?pretty=true
```


```plaintext
notifications-delete -V
```


Which will result in an empty result response.
